.btn {
	padding: 1.8rem 6rem;

	font-size: var(--fz-regular);
	font-weight: var(--fw-600);
	line-height: 1;

	background-color: var(--bg-button);
	color: var(--clr-button);
	box-shadow: var(--shadow);

	border: none;
	border-radius: 100vmax;

	transition: opacity 0.4s ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}
}
