.form {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	margin-top: 4rem;

	@media (min-width: 50em) {
		flex-direction: row;
		align-items: flex-start;
	}

	&__input-container {
		flex-grow: 1;
	}

	&__input {
		padding: 1em 2.5em;
		min-width: 100%;

		border: 1px solid var(--input-border);
		border-radius: 100vmax;

		&::placeholder {
			font-weight: var(--fw-400);
			color: var(--placeholder);
		}
	}

	&__msg {
		display: none;
		margin-top: 1rem;

		text-align: center;
		font-size: var(--fz-small);
		line-height: 1;
		color: var(--error);

		@media (min-width: 50em) {
			margin-left: 2.5em;
			text-align: left;
		}
	}

	&.error {
		--input-border: var(--error);

		.form__msg {
			display: block;
		}
	}
}
